// primary colors:
$primary-color-1: #1c251c;
$primary-color-2: #013131;

// secondary colors:
$secondary-color-1: black;
$secondary-color-2: rgb(63,63,63);
$secondary-color-3: rgb(128,128,128);
$secondary-color-4: rgb(195,195,195);
$secondary-color-5: rgb(255,255,255);
