
$primary-color-1: #171e17;
$primary-color-3: #012424;
$primary-color-2: rgb(0, 164, 44);
$primary-color-4: rgba(0, 255, 68, 0.215);
$primary-color-5: rgb(143, 81, 1);

// secondary colors:
$secondary-color-1: black;
$secondary-color-2: rgb(63,63,63);
$secondary-color-3: rgb(128,128,128);
$secondary-color-4: rgb(195,195,195);
$secondary-color-5: rgb(255,255,255);
