<section>
  <h2>Compila il modulo per inviarci un messaggio</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <label class="form-label" for="nome">Nome</label>
      <input type="text" name="name" class="form-control" placeholder="Nome" ngModel required="true">
    </div>

    <div class="row" id="gender">
      <label id="title">Indica il genere: </label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="genderFemale">
        <label class="form-check-label" for="genderFemale">
          F
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="genderMale">
        <label class="form-check-label" for="genderMale">
          M
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="genderNeutral">
        <label class="form-check-label" for="genderNeutral">
          N/A
        </label>
      </div>
    </div>

    <div class="row">
      <label class="form-label" for="nome">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email" ngModel required="true">
    </div>

    <div class="row">
      <label class="form-label" for="nome">Email</label>
      <ckeditor [editor]="Editor" name="message"  class="form-control" placeholder="Scrivi qui il tuo messaggio" ></ckeditor>
    </div>

    <div class="row">
      <button class="btn btn-primary">INVIA</button>
    </div>
  </form>
</section>

<ng-template #messageModal let-modal>
  <div class="modal-header">
    <button id="close" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <h3>Grazie per averci contattato!</h3>
    <p>Il nostro staff cercherà di risponderti il prima possibile.</p>
    <p>
      Nel frattemmpo, vorremmo sapere quanto sei soddisfatto della tua esperienza su Cibando.
    </p>

    <!-- Card -->
<div id="survey" class="mx-0 mx-sm-auto">
  <div class="text-center">
    <p id="surveyTitle">
      <strong>Dacci la tua opinione:</strong>
    </p>
  </div>

  <div class="text-center mb-3">
    <div class="d-inline mx-3">
      <strong>Pessima</strong>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
        value="option1" />
      <label class="form-check-label" for="inlineRadio1">1</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
        value="option2" />
      <label class="form-check-label" for="inlineRadio2">2</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
        value="option3" />
      <label class="form-check-label" for="inlineRadio3">3</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
        value="option4" />
      <label class="form-check-label" for="inlineRadio4">4</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
        value="option5" />
      <label class="form-check-label" for="inlineRadio5">5</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
        value="option6" />
      <label class="form-check-label" for="inlineRadio6">6</label>

    </div>
    <div class="d-inline me-4">
      <strong>Fantastica</strong>
    </div>
  </div>
  <!-- <div class="text-end">
    <button id="surveyButton" type="button" class="btn btn-primary">Invia</button>
  </div> -->
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" aria-label="cancel" (click)="modal.dismiss()">ERROR BUTTON</button>
    <button id="homeButton" type="button" class="btn btn-primary" aria-label="action" (click)="modal.close()">HOME</button>
  </div>
</ng-template>
