@import '../../styles/colors.scss';

section {
  width: 50%;
  margin: 50px auto 50px auto;
  color: $secondary-color-5;

  h2 {
    text-align: center;
    font-weight: 900;
  }

  button {
    margin: 37px auto;
    background-color: $primary-color-4;
    border: none;
    height: 50px;
    width: 200px;
  }

  #gender {
    #title {
      font-weight: 900;
      margin-left: -10px;
    }
    label {
      margin-left: 5px;
      font-weight: 400;
    }
  }

  .row {
    margin-top: 29px;
  }

  label {
    margin-bottom: -1px;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 600;
  }

  #registrati {
    text-align: center;
    font-size: 13px;

    a {
      text-decoration: none;
      color: $primary-color-1;
      font-weight: 600;
    }
  }
}

.modal-header, .modal-footer {
  background-color: $primary-color-1;
}

.btn-close:focus {
  outline: 0!important;
  box-shadow: none!important;
  color: white!important;
}

#homeButton {
  background-color: $primary-color-1;
  color: white;
  border: black;
}
