@import '../../../styles/colors.scss';

.booksContainer {
  padding: 20px 20px;

  h2 {
    font-weight: 700;
    color: $secondary-color-5;
  }

  h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    color: $secondary-color-5;
    font-weight: 600;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: $secondary-color-5;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .li-before {
    content: '';
  }
}

.loaderBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;

  img {
    height: 120px;
    width: 120px;
  }

  h3 {
    color: $secondary-color-5;
    font-weight: 900;
    margin-top: 30px;
  }

}

#addBook {
  background-color: $primary-color-4;
  margin-left: 10px;
  border: none;
}
