.bg-darker {
  background-color: #1c251c!important;
}

.column {
  float: left;
  padding: 10px;
  height: 150px;
  white-space: nowrap;
}

.left {
  width: 25%;
  text-align: left;

  .logo {
    height: 140px;
    padding-bottom: 10px;
  }
}

.right {
  width: 25%;
  color: black;
  text-align: right;
  padding: 40px;
  text-shadow: 0.4px 0.4px grey;

  .insta, .discord {
    padding-right: 30px;
    font-size: 40px;
  }

  .twitter {
    padding-right: 5px;
    font-size: 40px;
  }
}

.middle {
  white-space: nowrap;
  width: 50%;
  text-align: center;

  .title {
    font-family: 'Tulpen One', cursive!important;
    font-size: 110px;
    font-weight: bold;
    color: black;
    // padding-right: 30px;
    // padding-left: 10px;
    padding-bottom: 20px;
    text-shadow: 0.5px 0.5px grey;
  }
}
