<header>
  <!-- <div class="row bg-darker">
    <div class="column left">
      <a routerLink="home">
        <img routerLink="home" src="../assets/images/cthulhu-logo2.png" alt="cthulhu logo" class="logo" index="logo-id">
      </a>
      <span class="links">
        <a class="homeLink" routerLink="home">Home</a>
        <a class="bookLink">Books</a>
        <a class="movieLink" routerLink="movies">Movies</a>
      </span>
    </div>
    <div class="column middle">
      <div class="title">Eldritch Vault</div>
    </div>
    <div class="column right">
      <a class="nav-link" id="registrationLink" routerLink='login' routerLinkActive="active" *ngIf="!auth.isLogged()">Sign-in</a>
      <div id="signup">
        <ul *ngIf="auth.isLogged()">
          <li><strong>Greetings {{user.username}}! </strong></li>
          <li><a class="nav-link" routerLink="profile" routerLinkActive="active">[ Profile - </a></li>
          <li><a class="nav-link" (click)="logout()" style="cursor: pointer">Log-out ]</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <nav class="navbar navbar-light bg-darker fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img routerLink="home" src="../assets/images/cthulhu-logo2.png" alt="cthulhu logo" class="logo" index="logo-id">
      </a>
      <div id="title-header">
        <h1>Eldritch Vault</h1>
      </div>
      <button id="menu-button" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span id="menu-span" class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" data-bs-scroll="true">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Eldritch Vault</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <a id="navbar-home" class="nav-link active" routerLink="home" aria-current="page">Home</a>
            <a id="navbar-movies" class="nav-link" routerLink="movies">Movies</a>
            <a id="navbar-movies" class="nav-link" routerLink="books">Books</a>
            <a id="navbar-signin" class="signin-button" *ngIf="!auth.isLogged()" (click)="open(modalLogin)" data-bs-dismiss="offcanvas">
                Sign in
            </a>
            <div *ngIf="auth.isLogged()" class="inner-signup">
              <span>[</span>
              <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
              <span> - </span>
              <a class="nav-link" (click)="logout()" style="cursor: pointer">Log out</a>
              <span>]</span>
            </div>
        </div>
      </div>
    </div>
  </nav>
</header>


<ng-template id="loginModal" #modalLogin let-modal>
  <app-login></app-login>
</ng-template>
