.bg-darker {
  background-color: #1c251c!important;
}

.column {
  float: left;
  padding: 10px;
  height: 150px;
  white-space: nowrap;
}

.left {
  width: 25%;
  color: black;
  text-align: left;

  .title {
    font-family: 'Tulpen One', cursive!important;
    font-size: 80px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 10px;
  }

  .pi-home {
    color: black;
    font-size: 40px;
  }
}

.right {
  width: 25%;
  color: black;
  text-align: right;
  padding: 40px;

  .insta, .discord {
    padding-right: 30px;
    font-size: 40px;
  }

  .twitter {
    padding-right: 5px;
    font-size: 40px;
  }
}

.middle {
  white-space: nowrap;
  width: 50%;
  text-align: center;

  .logo {
    height: 140px;
    padding-bottom: 10px;
  }
}

// .navbar-brand {
//   color: black!important;
//   text-align: center!important;
//   font-size: xx-large!important;
//   font-family: 'Tulpen One', cursive!important;
// }

// .logo {
//   width: 120px;
//   text-align: center!important;
//   margin: auto;
// }

// .navbar-left {
//   text-align: right!important;
//   font-size: x-large!important;
//   color: black!important;
// }

// .nav-lateral {
//   text-align: left!important;
//   font-size: x-large!important;
//   color: black!important;
// }
