@import "../../styles/colors.scss";

.bg-darker {
  background-color: $primary-color-2;
}

.column {

  float: left;
  padding: 10px;
  height: 150px;
  white-space: nowrap;
}

.left {
  width: 25%;
  text-align: left;
  margin-top: 20px;

  .links {
    white-space: nowrap;

  //   .homeLink, .bookLink, .movieLink, .registrationLink {
  //     font-family: 'Tulpen One', cursive!important;
  //     padding-left: 15px;
  //     cursor: pointer;
  //     text-decoration: none;
  //     color: $secondary-color-1;
  //     text-shadow: 0.5px 0.5px grey;
  //     font-size: 40px;
  //     font-weight: 900;
  //     vertical-align: middle;
  //   }
  }
  .logo {
    vertical-align: middle;
    height: 40px;
    padding-left: 10px;
  }
}

.right {
  width: 25%;
  color: black;
  text-align: right;
  padding-top: 60px;
  text-shadow: 0.4px 0.4px grey;

  .pi {
    font-size: 2rem;
  }

  .insta, .discord {
    padding-right: 30px;
  }

  .twitter {
    padding-right: 20px;
  }
}

.middle {
  // white-space: nowrap;
  width: 50%;
  text-align: left;

  .title {
    // width: 50%;
    font-family: 'Cinzel Decorative', cursive!important;
    font-size: 60px;
    font-weight: bold;
    color: $secondary-color-1;
    text-shadow: 0.5px 0.5px grey;
    vertical-align: text-bottom!important;
    padding-bottom: 60px;
    text-align: center;
    display: flex;

  }
}

#registrationLink {
  padding-right: 20px;
}

a {
  font-family: 'Tulpen One', cursive!important;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
  color: $secondary-color-1;
  text-shadow: 0.5px 0.5px grey;
  font-size: 30px;
  font-weight: 900;
  vertical-align: middle;
}

#signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    align-items: center;
  }

  li {
    color: $secondary-color-5;
    font-size: 30px;
    font-family: 'Tulpen One', cursive!important;
    text-shadow: 0.5px 0.5px grey;
  }
}

// .modal-content {
//   top: 0;
//   left: 0;
//   position: fixed;
//   background-color: rgba(0, 0, 0, 0.442);
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 99999;
// }
