@import "../../styles/colors.scss";

.container-card {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.6%;
  margin-bottom: 30px;

  .card {
    border-color: $secondary-color-2;
    height: 440px!important;
    .card-image {
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .card-body {
      background-color: $primary-color-1;
      .card-title {
        font-weight: bold;
        font-size: 16px;
        color: $secondary-color-5;
      }
      .card-text {
        text-align: justify;
        color: $secondary-color-5;
        text-shadow: 0.5px, 0.5px, $secondary-color-1;
      }
      a {
        font-size: 15px;
        background-color: $secondary-color-1;
        border: none;
        margin: auto;
        display: block;
        font-weight: 700;
        padding: 13px;
        overflow: hidden;
      }
    }
  }
}

.admin-icon {
  background-color: $primary-color-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-admin {
    color: $secondary-color-5;
    border: none;
    background-color: $primary-color-1;
  }
}

.modal-header {
  background-color: $secondary-color-1;
  color: $secondary-color-5;
  .btn-close {
    color: $secondary-color-5
  }
  .btn-close:focus {
    outline-style: none!important;
    box-shadow: none!important;
  }
}
.modal-body {
  background-color: $primary-color-1;
  color: $secondary-color-5;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    text-align: center;
  }
  strong {
    color: $primary-color-5;
  }
  .img-div {
    text-align: center;
  }
  img {
    height: 50%;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.modal-footer {
  background-color: $secondary-color-1;
  .btn-cancella {
    background-color: $primary-color-4;
    color: $secondary-color-5;
  }
  .btn-annulla {
    color: $secondary-color-5;
  }
}

@media screen and (max-width: 960px) {
  .container-card {
    width: 30%;
    margin-left: 2.5%;
  }

  // .card-text {
  //   height: 200px;
  // }
}

@media screen and (max-width: 660px) {
  .container-card {
    width: 47%;
    margin-left: 2%;
  }

  // .card-text {
  //   height: 250px;
  // }
}

@media screen and (max-width: 480px) {
  .container-card {
    width: 98%;
    margin-left: 1%;
  }

  // .card-text {
  //   height: auto;
  // }
}
