<div *ngIf="currentPage === 'movieList'">
  <!-- <div class="paginator"> -->
    <p-paginator (onPageChange)="paginate($event)" [rows]="moviesPerPage" [totalRecords]="movies.length"></p-paginator>
  <!-- </div> -->
  <div>
    <h2>Behold the most horrific tales mankind has to offer</h2>
  </div>

  <div id="contenitoreCards">
    <div class="container-card" *ngFor="let movie of movies | slice: (page * moviesPerPage) - moviesPerPage : page * moviesPerPage">
      <div class="card">
        <div class="card-image" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}"></div>
        <div class="card-body">
          <!-- <div *ngIf="movie.title.length > 18" title="{{movie.title}}">
            <h5 class="card-title">{{movie.title | slice: 0:accorciaTitolo(movie.title)}}...</h5>
          </div> -->
          <!-- <div *ngIf="movie.title.length <= 18" title="{{movie.title}}"> -->
          <div title="{{movie.title}}">
            <h5 id="full-title" class="card-title">{{movie.title}}</h5>
          </div>
          <p class="card-text">{{movie.description | slice: 0:accorciaTesto(movie.description)}}...</p>
          <a routerLink="/movies/dettaglio/{{movie.title}}/{{movie._id}}" class="btn btn-primary">Visualizza</a>
          <!-- <a [routerLink]="'dettaglio/'+recipe._id" class="btn btn-primary">Visualizza</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentPage === 'home'">
  <div>
    <h2>Take a peek into the abyss</h2>
  </div>

  <div id="contenitoreCards">
    <div class="container-card" *ngFor="let movie of movies">
      <div class="card">
        <div class="card-image" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}"></div>
        <div class="card-body">
          <div title="{{movie.title}}">
            <h5 id="full-title" class="card-title">{{movie.title}}</h5>
          </div>
          <p class="card-text">{{movie.description | slice: 0:accorciaTesto(movie.description)}}...</p>
          <a routerLink="/movies/dettaglio/{{movie.title}}/{{movie._id}}" class="btn btn-primary">Visualizza</a>
        </div>
      </div>
    </div>
  </div>
</div>
