<div id="profile">
  <h3>Greetings {{data.name}}!</h3>
  <h4>These are your accounts details:</h4>
  <ul>
    <li>Username: <strong>{{data.username}}</strong></li>
    <li>Name: <strong>{{data.name}}</strong></li>
    <li>Surname: <strong>{{data.surname}}</strong></li>
    <li>Email: <strong>{{data.email}}</strong></li>
    <li>Role: <strong>{{data.role}}</strong></li>
    <li>Date of birth: <strong>{{data.birthdate}}</strong></li>
    <li>Data registrazione: <strong>{{registrationDate}}</strong></li>
  </ul>
</div>
