@import '../../../styles/colors.scss';

section {
  width: 50%;
  margin: 50px auto 50px auto;

  h2 {
    text-align: center;
    font-weight: 900;
    color: $secondary-color-5;
  }

  button {
    margin: 37px auto;
    background-color: $primary-color-2;
    color: $secondary-color-5;
    font-weight: 600;
    border: none;
    height: 50px;
    width: 200px;
  }

  .row-login {
    margin-top: 29px;
  }

  label {
    margin-bottom: -1px;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color-5;
  }

  #registrati {
    text-align: center;
    font-size: 18px;
    color: $secondary-color-5;

    a {
      text-decoration: none;
      color: $primary-color-1;
      font-weight: 600;
      color: $primary-color-5;
    }
  }
}
