@import '../../../styles/colors.scss';

.contenitore {
  background-color: $secondary-color-2;
  .text-center {
    color: $primary-color-2;
    text-shadow: 0.5px 0.5px $secondary-color-1;
  }
  .pi {
    padding-bottom: 10px;
    color: $primary-color-2;
    text-shadow: 0.5px 0.5px $secondary-color-1;
  }
  p {
    text-align: right;
    color: $secondary-color-5;
  }
  .imageDiv {
    img {
      height: 70%!important;
      width: 70%!important;
    }
  }
  button {
    background-color: $primary-color-2;
  }
}
