/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Unna', serif!important;
  background-color: black!important;
}

.mainContainer {
  width: 100%;
  color: white!important;

  .homeTitle {
    padding: 25px, 30px!important;
    font-size: 30px;
    font-weight: bold;
  }

  .hpDescription {
    padding: 25px, 30px!important;
    font-size: 16px;
    text-align: justify!important;
  }
}
