/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './app/styles/colors.scss';

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Unna', serif!important;
  background-color: black!important;
}

.mainContainer {
  width: 100%;
  color: white;
  padding: 25px;

  .homeTitle {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px grey;
  }

  .hpDescription {
    font-size: 16px;
    text-align: justify!important;
  }
}

.carousel {

  .moviePoster {
    margin: auto;
    width: 100%!important;
    height: 120%!important;
    text-align: center!important;
  }
  .carousel-inner {
    margin-top: 1px!important;
  }

  .carousel-title {
    clear: both;
  }

  .carousel-caption {
    h3 {
      font-family: 'Tulpen One', cursive;
      font-size: 40px;
      text-shadow: black 2px 3px 3px;
    }
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 50%;
  }
}
