footer {
  background-color: #1c251c!important;
  color: black;
  text-shadow: 0.2px 0.2px grey;
  // .title-footer {
  //   font-family: 'Tulpen One', cursive!important;
  //   font-size: 60px;
  //   padding-right: 30px;
  // }

  // .logo {
  //   height: 140px;
  // }

  .left {
    font-size: 30px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .right {
    text-align: right;

    .logo {
      height: 140px;
      padding-right: 20px;
    }
  }

}
