<!-- <footer>
  <h2 class="title-footer">Eldrict Vault</h2>
  <img src="../../../assets/images/cthulhu-logo.png" class="logo"/>
</footer> -->

<footer>
  <div class="row bg-darker">
    <div class="column left">
      <p>Toss a coin</p>
      <a id="contactLink">Contact us</a>
    </div>
    <div class="column middle">
      <img src="../assets/images/cthulhu-logo2.png" alt="cthulhu logo" class="logo">
    </div>
    <div class="column right">
      <p>Instagram</p>
      <p>Discord</p>
      <p>Twitter</p>
    </div>
  </div>
</footer>
