@import "../../styles/colors.scss";

.bg-darker {
  background-color: $primary-color-2;
  font-size: 40px;
  color: black;
  text-shadow: 0.2px 0.2px grey;
  width: 100%;
  height: 446px;
  position: relative;
  left: 12px;
}
.column {
  float: left;
  font-weight: bolder;
  font-family: 'Tulpen One', cursive;
  // white-space: nowrap!important;
}

.middle {
  text-align: center;
  width: 50%;
  padding-top: 30px;
  white-space: nowrap!important;
  .logo {
    height: 180px;
    }
}

.left {
  text-align: center;
  padding-top: 30px;
  width: 25%;
  white-space: nowrap!important;

  a {
    text-decoration: none;
  color: $secondary-color-1;
  }
}

.right {
  text-align: center;
  width: 25%;
  padding-top: 30px;
  white-space: nowrap;
  text-shadow: 0.3px 0.3px grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pi-instagram, .pi-discord, .pi-twitter {
    margin: 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .bg-darker[_ngcontent-ng-c1439495475] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 616px;
}

  .middle[_ngcontent-ng-c1439495475] {
    display: flex;
    justify-content: center;
}

  .left[_ngcontent-ng-c1439495475] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right[_ngcontent-ng-c1439495475] {
  text-align: center;
  width: 25%;
  padding-top: 30px;
  white-space: nowrap;
  text-shadow: 0.3px 0.3px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

}
