<!-- <footer>
  <h2 class="title-footer">Eldrict Vault</h2>
  <img src="../../../assets/images/cthulhu-logo.png" class="logo"/>
</footer> -->

<footer>
  <div class="row bg-darker">
    <div class="column left">
      <p>About us</p>
      <p>Make a contribution</p>
      <p>The Lovecraftian community</p>
    </div>
    <div class="column left2">
    </div>
    <div class="column middle">
    </div>
    <div class="column right">
      <img src="../assets/images/cthulhu-logo.png" alt="cthulhu logo" class="logo">
    </div>
  </div>
</footer>
